
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(0, 0, 0);
    font-family:Lato;
    font-size: 16px;
    line-height: 1.6;
}

h1,h2,p,li {
    color:white;
}


nav{
    display: flex;
    margin: 20px;
    justify-content:space-between;
}

nav li {
    display: inline-block;
    margin: 0 10px 0 10px;
}



header {
    margin-top: 5em;
    display: grid;
    
    align-items: center;
    justify-items: center;
    grid-auto-columns: auto;

}

img {
    width: auto;
    height: auto;
}

.info-right {
    margin-left: 20px;
}

